body,html{
  margin: 0px;
  padding: 0px;
}
  
.banner {
  background:url("../../assets/images/page1.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 768px;
}

nav.navbar-default{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background:transparent;
  border:none;
}

.navbar-nav{
  padding-top: 30px;
  float: none;
  width: 100%;
  text-align: center;
}

.navbar-default .navbar-collapse{
  border:none;
}

.navbar-nav li {
  display: inline-block;
  float: none;
  position: relative;
  padding: 10px 0;
}

.navbar-nav li:hover {
  background: #ccc;
}

.navbar-nav li:nth-child(3):hover{
  background-color: transparent;
}

.navbar-nav li:nth-child(1) a:after,
.navbar-nav li:nth-child(4) a:after {
  content: ".";
  position: absolute;
  bottom: 0;
  right: -2px;      
}

.navbar-nav li a {
  padding: 0 40px;
  position: relative;
}
  
.navbar-default .navbar-nav>li>a:hover
.navbar-default .navbar-nav>li:hover{
  background-color: #ccc;
}

.navbar-nav li:nth-child(3) img{  
  display: inline;
}  
    
.abc{
  padding:0px;
  margin: 0px;
}  

.navbar-default .navbar-nav>.active>a{
  background-color: #ccc;
}

.navbar-default .navbar-nav>.active{
  background-color: #ccc;
  color:#000;
}


.navbar-default .navbar-nav>.active>a:hover{
  background-color: transparent;
}

div.collapse ul.nav li a{
  font-weight: bold;  
}

hr { 
  display: block;
  width:14%;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color:#ffffff;
  background-color: #ffffff;
} 


#left2{
  position: relative;
  width: 81%;
}

#logo1{
  position: absolute;
  top: 30%;
  left: 50%;
}

.outer{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
}

.title{
  font-size:16px; 
  font-weight: bold;
}

.p_body{
  font-size:12px; 
  line-height:2;
  text-align: left;
  overflow-y: hidden;
  padding: 0 10%;
}

#right2{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  width: 41%;
  position: relative;
}

#page2_2{
  position: absolute;
  bottom: 0px;
}

#logo1{
  width: 10%;
  height: 17%;
  position: absolute;
  left: 45%;
  top: 40%;
}

#cont_page2{
  background-color: #f7f7f7;
}

    /* fonts begin*/


#cont_page2 div div div h2,
#right2 div h2,
#left3 div h2,
#mid4 div h2,
#myCarousel div div h3,
#addr_head{
  margin-bottom: 18px;
  letter-spacing: 4px;
  font-size: 19px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

#cont_page2 div div div p,
#right2 div p,
#left3 div p,
#mid4 div p,
#btn1{
  font-size: 14px;
  color: #757575;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

#myCarousel div div h3 span,
#btn2{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

#myCarousel div div blockquote,
#slogan>span,
#addr_body,
#contact div:nth-child(3){
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
}

    /* fonts end*/

.about-section {
  padding: 100px 15px;
  text-align: center;
}
    
#left3{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  width:38%;
  position: relative;
}

#right3{    
  width:79%;    
}

#left4{
  position: relative;
  width: 32.4%;
}

#mid4{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  width: 34%;
  position: relative;
}

#right4{
  width: 33.7%;
}

.carousel{
  background: #f8f8f8;
}
.carousel .item img{
  margin: 0 auto; 
}
blockquote {
  padding: 15px;
  text-align: center;
  border: none;
}
.carousel-indicators li {
  background-color: transparent;
  border-color: #a9b0b6;
}
.carousel-indicators .active {
  background-color: #a6adb3;
  width: 10px;
  height: 10px;
  margin: 1px;
}
.border{
  border:2px solid #000;
}
.carousel-indicators {
  bottom: 0px;
  padding-bottom: 35px;
}
p{
  padding: 0px ;
  padding-left: 10%;
  padding-right : 10%;
  padding-bottom: 3%;
}
#myCarousel{
  padding-top:100px;
  padding-bottom: 80px;
}

#btn1{
  width:20%;
  height:5%;
  border-radius: 0px;
  padding: 15px 50px;
  width: auto;
  background-color: transparent;
  border-color: grey;
  font-size: 17px;
  color: #fff;
  /*font-weight: 400;*/
}

#btn2{
  border-radius: 0px;
  border-color: transparent;
  background-color: #64c29e;
  display: inline;
  height: 52px;
  margin-top: -3px;
  padding: 15px 30px;
}
  
#button-cont{
  text-align: center;
  background-color: #282f37;
  padding: 60px;
}

.footer-padding{
  padding: 10% 0% 10% 14%;
}

#footer{
  margin-top: 90px;
  background-color: #f7f7f7; 
}

.padding2{
  padding-left: 5%;
}

.padding1{
  padding: 10% 0% 0% 14%;
}

.cont-padding{
  padding: 9% 15% 10%;
}
.image-h{
  height: 100%;
}
.image-hw{
  height: 100%;
  width: 100%;
}
        
.image-w{
  width: 100%;
}

.cont234-padding{
  padding:0px 9% 38%;
}
  
#input-lg{
  width: 20%;
  padding: 25px 20px;
  font-size:15px;
  font-style: italic;
  border-radius: 0px;
  display: inline;
}


.img-overlay{
  position: relative;
}
  
.overlay{
  transition: 1s ease;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  background: url(../../assets/images/page7_1.png) no-repeat center center;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.img-overlay:hover .overlay{
  transition: 1s ease;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  opacity: .9;
  background-color: #74e2a2;
}

/*navbar modal*/



#cont_page2 div div div img{
  display: inline;
  padding-bottom: 20px;
}

#right2 div img,
#left3 div img{
  display:inline;
  padding: 50px 10px 25px;
}

#left3>img{
  position: absolute;
  bottom:0px;
}

#right3{
  position: relative;
}

#right3 img:nth-child(2){
  position: absolute;
  top:37.4%;
  left:41.7%;
  width:17%;
  height: 25%;
}

#left4 img>nth-child(2){
  position: absolute;
  top:44.5%;
  left:30%;
  width: 39.8%;
}

#mid4 div>img{
  display: inline;
  padding:50px 10px 25px;
}

#mid4>img{
  position: absolute;
  bottom:0px;
}

#myCarousel div div h3 span{
  color: #a6adb3;
}


#slogan>img{
  display:inline;
  padding-top: 100px;
}


#slogan>span{
  display: block;
  text-align: center;
  padding-top: 30px;
}

#slogan>div{
  margin-top: 20px;
}

#foooter{
  background-color: #f7f7f7;
}

#footer div div:nth-child(2) a img{
  display: inline;
  margin-right: 8px;
}

#footer div div:nth-child(3) img{
  display: inline;
}

/* ---- grid ---- */

.grid {
  max-width: 100%;
  background-color: red;
  display: block;
  margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 16.66%;
  padding: 0;
  margin: 0;
}

.grid-item {
  height: 225px;
  float: left;
}
.grid-item--width2 { width: 33.33%; }
.grid-item--height2 { height: 450px; }
/**/
/* media queries*/
@media only screen and (max-width: 1330px){
  .grid-sizer{
      width: 25%;
  }
  .grid-item{
      width: 25%;
  }
  .grid-item--width2{
      width: 50%;
  }
}

.grid-item img{
  width: 100%;
}

@media only screen and (max-width:1000px){
  #left2{
    width:71%;
  }
  #right2{
    width: 61%;
  }
    
  #right2 img{
    height: 25%;
  }
  
  .cont234-padding{
    padding:0px 0% 35%;
  }
  .p_body{
    padding: 0 10%;
  }

  #page6 div div div div img,
  #page6 div img{
    margin:20px auto;
  }

  #contact div{
    display: block;
    width:100%;
    height: auto;
    margin:0;
  }

  #contact>div{
    text-align: center;
  }

  #page6{
  background-color: #05040a;;
  background-image: url("../../assets/images/tileable-wood-colored.png");
  }
}
/*
@media only screen and (max-width: 900px){
  .grid-sizer{
      width: 33.33%;
  }
  .grid-item{
      width: 33.33%;
  }
  .grid-item--width2{
      width: 50%;
  }
}*/

@media only screen and (max-width:767px){
  .banner{
    height: 800px;
  }
  
  .navbar-nav li:nth-child(1) a:after,
  .navbar-nav li:nth-child(4) a:after,
  .navbar-nav li:nth-child(3){
     display: none;
  }
  .navbar-nav li{
    border:1px solid #000;
    width: 100%;
    background-color: #ccd;
  }
}


@media only screen and (max-width:900px){
  .outer{
    flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  }
  #left2,
  #right2,
  #page2_2,
  #left3,
  #right3,
  #left4,
  #mid4,
  #right4{
    width: 100%;
  }
  #input-lg{
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 40px;
  }
  #btn1{
    font-size: 10px;
  }
  .navbar-nav li:nth-child(1) a:after,
  .navbar-nav li:nth-child(4) a:after,
  .navbar-nav li:nth-child(3) {
     display: none;
  }
  .navbar-nav li{
    width: 100%;
  }
  .footer-padding{
    display: inline-block;
    text-align: center;
  }

  .banner{
    height: 600px;
  }
}


@media only screen and (max-width:480px){
  .banner{
    height: 800px;
  }
}

@media only screen and (max-width:320px){
  .banner{
    height: 480px;
  }
}



