body,html{
  margin: 0px;
  padding: 0px;
}
html {
    overflow-y: scroll;
}
.banner {
  background:url("../images/page1.png") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 768px;
}

.fixed{
  position: fixed;
  top:-30px;
  padding-left: -10px;
  left: 0;
  background-color: #fff;
  box-shadow: 4px 5px 18px rgba(0,0,0,0.4);
  animation-name: navbarAnimation;
  animation-duration: 1s;

}

@keyframes navbarAnimation{
  0%{visibility: hidden;}
  50%{visibility: visible;top:-45px;padding-left: -15px;}
  100%{top:-30px;padding-left: -10px;}
}

nav.navbar-default{
  /*position: absolute;
    top: 0px;
    left:0px;
    padding-left: 27.5%;
    /*left: 27.5%;
    height: 20%;
    width: 100%;*/
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  border:none;
  z-index: 30;
  background-color: transparent;
}

.navbar-nav{
  padding-top: 30px;
  float: none;
  width: 100%;
  text-align: center;
}

.navbar-default .navbar-collapse{
  border:none;
}

.navbar-nav li {
  transition: .5s ease-in-out;
  display: inline-block;
  float: none;
  position: relative;
  padding: 10px 0;
}

.navbar-nav li.active {
  background:#ccc;
  color:white;
}

.navbar-nav li:hover {
  background-color: #e8e8e8;
  color: white;
  padding: 10px 0px;
}

.navbar-nav li:nth-child(3):hover{
  background-color: transparent;
}

.navbar-nav li:nth-child(1) a:after,
.navbar-nav li:nth-child(4) a:after {
  content: ".";
  position: absolute;
  bottom: 0;
  right: -2px;      
}

.navbar-nav li a {
  padding: 0 40px;
  position: relative;
}



  /*.navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:hover {
    background-color: #ccc;
  }*/

  
.navbar-default .navbar-nav>li>a:hover
.navbar-default .navbar-nav>li:hover{
  background-color: #ccc;
}

.navbar-nav li:nth-child(3) img{  
  display: inline;
}  
    
    
  /*.abc{
    padding-left: 0px;
    padding-right: 0px;
  }*/
.abc{
  padding:0px;
  margin: 0px;
}  

.navbar-default .navbar-nav>.active>a{
  background-color: #ccc;
}

.navbar-default .navbar-nav>.active{
  background-color: #ccc;
  color:#000;
}
.affix{
  width: 100%;
}

.navbar-default .navbar-nav>.active>a:hover{
  background-color: transparent;
}
.navbar-brand>img {
    display: none;
    width: 60px;
    height: 60px;
}

.navbar-brand>span{
    position: absolute;
    top:37px;
    left: 40%;
    z-index: 91;
    display: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 30px;
  }

div.collapse ul.nav li a{
  font-weight: bold;  
}

hr { 
  display: block;
  width:14%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color:#ffffff;
  background-color: #ffffff;
} 

/*changes*/


.title1{
  font-size:16px; 
  font-weight: bold;
}

.grid-item-width-2{
  width: 40%;
 }
.p_body{
  font-size:12px; 
  line-height:2;
  text-align: left;
  padding: 0 10%;
}
#left2{
  position: relative;
  height: 600px;
  width: 66.3%;
  background : url('../images/page2_1.jpg') no-repeat center;
  background-size: cover;
  float: left;
}
#right2{
  float: left;
  height: 600px;
  width: 33.7%;
  position: relative;
}
#section2{
  width: 100%;
  height: 600px;
}

#right2img{
  height: 30%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background : url('../images/page2_2.jpg') no-repeat center;
  background-size: cover;
}

#logo2_1{
  position: absolute;
  top: 40%;
  left: 43%;
}
#icon3_1{
  position: absolute;
  top: 37%;
  left: 40%; 
}

#logo1{
  width: 10%;
  height: 17%;
  position: absolute;
  left: 45%;
  top: 40%;
}

#cont_page2{
  background-color: #f7f7f7;
}

    /* fonts begin*/


#cont_page2 div div div h2,
#right2 div h2,
#left3 div h2,
#mid4 div h2,
#myCarousel div div h3,
#addr_head{
  margin-bottom: 18px;
  letter-spacing: 4px;
  font-size: 19px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

#cont_page2 div div div p,
#right2 div p,
#left3 div p,
#mid4 div p,
#btn1{
  font-size: 14px;
  color: #757575;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

#myCarousel div div h3 span,
#btn2{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

#myCarousel div div blockquote,
#slogan>span,
#addr_body,
#contact div:nth-child(3){
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #757575;
}

    /* fonts end*/

.about-section {
  padding: 100px 15px;
  text-align: center;
}

#section3{
  width: 100%;
  height: 600px;
}

#left3{
  float: left;
  height: 600px;
  width:32.9%;
  position: relative;
}

/*#left3 div:nth-child(1){
  background-image: url('../images/container.png');
}*/

#right3{  
  position: relative; 
  height: 600px; 
  width:67.1%; 
  background : url('../images/page3_2.jpg') no-repeat center;
  background-size: cover; 
  float: left;
}

#left3img{
  position: absolute;
  bottom: 0;
  height:30%;
  width: 100%;
  background : url('../images/page3_1.jpg') no-repeat center;
  background-size: cover;
}
/*#right3img{
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  
}*/
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #f00;
}

#right2img::before{
  position: absolute;
  content: "";
  left:45%;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}
#left3img::before{
  position: absolute;
  content: "";
  left:45%;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}
#mid4img::before{
  position: absolute;
  content: "";
  left:45%;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}
#section4{
  width: 100%;
  height: 600px;
  }


#left4{
  position: relative;
  width: 32.9%;
  height: 600px;
  background : url('../images/page4_1.jpg') no-repeat center;
  background-size: cover;
  float: left;  
}

/*ch*/

#mid4{
  height: 600px; 
  width: 33.2%;
  position: relative;
  float: left; 
}
#right4{
  width: 33.9%;
  height: 600px; 
  position: relative;
  background : url('../images/page4_3.jpg') no-repeat center;
  background-size: cover;
  float: left; 
}

#logo4_1{
  position: absolute;
  top: 44.5%;
  left: 26.5%;
}

#mid4img{
  position: absolute;
  bottom: 0;
  height: 30%;
  width: 100%;
  background : url('../images/page4_2.jpg') no-repeat center;
  background-size: cover;
}

.carousel{
  background: #f8f8f8;
}
.carousel .item img{
  margin: 0 auto; 
}
.carousel-inner .item blockquote {
  padding: 15px;
  text-align: center;
  border: none;
}
/*blockquote ol:last-child,
blockquote p:last-child,
blockquote ul:last-child{
  color:grey;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
  color:;
}*/
.carousel-indicators li {
  background-color: transparent;
  border-color: #a9b0b6;
}
.carousel-indicators .active {
  background-color: #a6adb3;
  width: 10px;
  height: 10px;
  margin: 1px;
}
.border{
  border:2px solid #000;
}
.carousel-indicators {
  bottom: 0px;
  padding-bottom: 35px;
}
p{
  padding: 0px ;
  padding-left: 10%;
  padding-right : 10%;
  padding-bottom: 3%;
}
#myCarousel{
  padding-top:100px;
  padding-bottom: 80px;
}

/*#btn1{
  width:20%;
  height:50px;
  border-radius: 0px;
  padding: 15px 50px;
  width: auto;
  background-color: transparent;
  border-color: grey;
  font-size: 17px;
  color: #fff;
}*/
#btn1 {
  width:25%;
  height:50px;
  padding: 15px 40px;
  border: 0 solid;
  background-color: transparent;
  border-color: grey;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #fff;  
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

#btn1:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(128, 128, 128, 0.5), 0 0 20px rgba(128, 128, 128, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

#btn2{
  border-radius: 0px;
  border-color: transparent;
  background-color: #64c29e;
  display: inline;
  height: 52px;
  margin-top: -3px;
  padding: 15px 30px;
}
  
#button-cont{
  text-align: center;
  background-color: #282f37;
  padding: 60px;
}

.footer-padding{
  padding: 10% 0% 10% 14%;
}

#footer{
  margin-top: 90px;
  background-color: #f7f7f7; 
}

.padding2{
  padding-left: 5%;
}

.padding1{
  padding: 10% 0% 0% 14%;
}

.cont-padding{
  padding: 9% 15% 10%;
}
.image-h{
  height: 100%;
}
.image-hw{
  height: 100%;
  width: 100%;
}
        
.image-w{
  width: 100%;
}

#input-lg{
  width: 20%;
  padding: 25px 20px;
  font-size:15px;
  font-style: italic;
  border-radius: 0px;
  display: inline;
}

#cont_page2 div div div img{
  display: inline;
  padding-bottom: 20px;
}

#right2 div img,
#left3 div img{
  display:inline;
  padding: 50px 10px 0px;
}

#left3>img{
  position: absolute;
  bottom:0px;
}

#right3 img:nth-child(2){
  position: absolute;
  top:37.4%;
  left:41.7%;
  width:17%;
  height: 25%;
}

#left4 img:nth-child(2){
  position: absolute;
  top:44.5%;
  left:30%;
  width: 39.8%;
}

#mid4 div>img{
  display: inline;
  padding:50px 10px 0px;
}

#mid4>img{
  position: absolute;
  bottom:0px;
}

#myCarousel div div h3 span{
  color: #a6adb3;
}


#slogan>img{
  display:inline;
  padding-top: 100px;
}


#slogan>span{
  display: block;
  text-align: center;
  padding-top: 30px;
}

#slogan>div{
  margin-top: 20px;
}

#foooter{
  background-color: #f7f7f7;
}

#footer div div:nth-child(2) a img{
  display: inline;
  margin-right: 8px;
}

#footer div div:nth-child(3) img{
  display: inline;
}



@media only screen and (max-width:992px){
  #right2img,
  #left3img,
  #mid4img{
      height: 25%;
  }
  #section2,
  #section3,
  #section4,
  #left2,
  #left3,
  #left4,
  #right2,
  #right3,
  #right4,
  #mid4{
    height:700px;
  }
  #input-lg{
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 40px;
  }
  #btn1{
    font-size: 10px;
  }
  
  .footer-padding{
    display: inline-block;
    text-align: center;
  }

  .banner{
    height: 600px;
  }
}


@media only screen and (max-width:768px){
  .banner{
    height: 800px;
  }
  
  .navbar-nav li:nth-child(1) a:after,
  .navbar-nav li:nth-child(4) a:after,
  .navbar-nav li:nth-child(3){
     display: none;
  }
  .navbar-nav li{
    width: 100%;
    background-color: #ccd;
    opacity: .8;
    font-size: 20px;
    padding: 30px;
  }
  .navbar-nav li:hover{
    background-color: black;
  }
  .navbar{
    border:5px solid #000;
  }

  .navbar-toggle{
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .navbar-bottom{
    margin-bottom: 0px;
  }

  .navbar-collapse{
    padding-right: 0px;
    padding-left: 0px;
  }
  .navbar-nav{
    padding-top: 0px;
    margin:0;
  }
  .navbar-brand>img {
    display: inline;
  }
  
  .navbar-default .navbar-nav>li>a:hover { 
    color: #fff;
    background-color: transparent;
  }
  
  .navbar-header {
    display: block;
    background-color: #fff;
    box-shadow: 4px 5px 18px rgba(0,0,0,0.4);
    text-align: center;
  }
  
  .navbar-brand>span{
    display: inline;
    position: absolute;
    top:37px;
    left: 37%;
    z-index: 91;
  }

  #left2,
  #right2,
  #left3,
  #right3,
  #left4,
  #mid4,
  #right4{
    clear: both;
    height: 600px;
    width: 100%;
  }
  #section2,
  #section3{
    height: 1200px;
  }

  #section4{
    height: 1800px;
  }
  
  #right2img,
  #left3img,
  #mid4img{
    position: relative;
    width:100%;
    height: 40%;
  }
  #right2 .container-fluid,
  #left3 .container-fluid,
  #mid4 .container-fluid{
    height: 60%;
  }


  #right2img::before,
  #left3img::before,
  #mid4img::before{
    left:50%;
  }
}


@media only screen and (max-width:480px){
  .banner{
    height: 800px;
  }
  .p_body{
    padding: 0;
  }

  #right2img::before,
  #left3img::before,
  #mid4img::before{
    left:45%;
  }
}


@media only screen and (max-width:320px){
  .banner{
    height: 480px;
  }
}

